body {
    background-color: #D0E7D2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

#title {
    color: #618264;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#show_verse {
    background-color: #B0D9B1;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
    color: #618264;
    font-family: 'Arial', sans-serif;
}

#eye_icon {
    margin-right: 5px;
    cursor: pointer;
    color: #618264;
}

#eye_icon:hover {
    color: #79AC78;
}

.button-group {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button {
    background-color: #79AC78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #618264;
}

#generate {
    background-color: #618264;
}

.filters-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow: auto;
}

#toggle-filters {
    background-color: #B0D9B1;
    color: #618264;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    margin-bottom: 10px;
    width: 90%;
    max-width: 400px;
    text-align: left;
    position: relative;
}

#toggle-filters::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #618264;
}

#toggle-filters.arrow-up::after {
    content: '▲';
}

#toggle-filters:hover {
    background-color: #B0D9B1;
}

.filters {
    visibility: hidden;
    display: grid;
    gap: 10px;
}

.filter-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

.filter-grid div {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.filter-grid select {
    width: 100%;
    max-width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #B0D9B1;
    color: #618264;
    font-family: 'Arial', sans-serif;
}

.filter-grid label {
    text-align: left;
    padding-right: 10px;
    font-family: 'Arial', sans-serif;
    color: #618264;
}

.arrow-up::after {
    content: "▲";
}

/* Changes for filter labels and headers */
.filter-grid div:nth-child(2),
.filter-grid div:nth-child(3),
.filter-grid div:nth-child(4),
.filter-grid div:nth-child(7), 
.filter-grid div:nth-child(10) {
    color: #618264;
    font-family: 'Arial', sans-serif;
}
